[Unit]
Description=Rotate GNOME background

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/bash /opt/rotate_bg.sh

[Install]
WantedBy=basic.target
