[Unit]
Description=Rotate NITROGEN background

[Service]
Type=oneshot
Environment=DISPLAY=:1
ExecStart=/usr/bin/bash /opt/qrotate_bg.sh

[Install]
WantedBy=basic.target
