.expander .expander-ttl[data-v-580381bf] {
  font-size: 16px;
  line-height: normal;
  font-weight: bold;
  display: flex;
  color: #444;
  cursor: pointer;
  min-height: 50px;
  padding: 0 20px;
  margin: 0 -20px;
  align-items: center;
}
.expander .expander-ttl[data-v-580381bf]:hover {
    background: #f1f2f6;
}
.expander .expander-ttl .title[data-v-580381bf] {
    min-width: 135px;
    padding: 0 10px 0 0;
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 'Hind Regular', sans-serif;
}
.expander .expander-ttl svg[data-v-580381bf] {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: auto;
}
.expander .expander-ttl.up svg[data-v-580381bf] {
    transform: rotate(180deg);
}
.expander .expander-content .wrapper[data-v-580381bf] {
  padding: 10px 0;
}

.layout-item[data-v-2a343156] {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 50px;
  grid-template-rows: 50px;
  grid-column-gap: 1.05vw;
  grid-row-gap: 1.05vw;
}
.layout-item.item1x2[data-v-2a343156] {
    grid-template-columns: 23px 23px;
    grid-template-rows: 50px;
}
.layout-item.item2x1[data-v-2a343156] {
    grid-template-columns: 50px;
    grid-template-rows: 23px 23px;
}
.layout-item.item2x2[data-v-2a343156] {
    grid-template-columns: 23px 23px;
    grid-template-rows: 23px 23px;
}
.layout-item .cell[data-v-2a343156] {
    box-sizing: border-box;
    border: 5px solid #eaebef;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.layout-item:hover .cell[data-v-2a343156] {
    border-color: #76db88;
}
.layout-item.active .cell[data-v-2a343156] {
    border-color: #38c557 !important;
    background: #76db88 !important;
}

*[data-v-093ffbbc],
*[data-v-093ffbbc]::after,
*[data-v-093ffbbc]::before {
  box-sizing: border-box;
}
.contact-form[data-v-093ffbbc] {
  font-size: 16px;
}
.contact-form input[type='text'][data-v-093ffbbc],
  .contact-form input[type='email'][data-v-093ffbbc],
  .contact-form textarea[data-v-093ffbbc] {
    border: 1px solid transparent;
    display: block;
    width: calc(100% - 20px);
    margin: 0 10px;
    appearance: none;
    color: #000;
    padding: 1px 15px 0;
    background: #f1f2f6;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Hind', 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.contact-form input[type='text'].error[data-v-093ffbbc],
    .contact-form input[type='email'].error[data-v-093ffbbc],
    .contact-form textarea.error[data-v-093ffbbc] {
      border-color: #e94b35 !important;
}
.contact-form input[type='text'][data-v-093ffbbc]:focus,
    .contact-form input[type='email'][data-v-093ffbbc]:focus,
    .contact-form textarea[data-v-093ffbbc]:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
.contact-form textarea[data-v-093ffbbc] {
    min-height: 90px;
    resize: vertical;
    overflow: auto;
}
.contact-form input[type='submit'][data-v-093ffbbc] {
    height: 30px;
    border: none;
    background: #28b446;
    border-radius: 5px;
    padding: 1px 20px 0;
    padding: 5px 15px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    appearance: none;
}
.contact-form input[type='submit'][data-v-093ffbbc]:hover {
      background: #22da4a;
}
.contact-form input[type='submit'][data-v-093ffbbc]:focus {
      outline: none;
      background: #22da4a;
}
.contact-form input[type='submit'][data-v-093ffbbc]:disabled {
      background: #28b446 !important;
      color: #fff !important;
      cursor: default !important;
}
.contact-form input[type='submit'][data-v-093ffbbc]:active {
      transform: scale(0.9);
}
.contact-form .row[data-v-093ffbbc] {
    padding: 0 0 15px;
    margin: 0 -10px;
    display: flex;
    position: relative;
}
.contact-form .row input[data-v-093ffbbc] {
      margin: 0 10px;
}
.contact-form .btn-row[data-v-093ffbbc] {
    display: flex;
    align-items: center;
}
.contact-form .btn-row input[type='submit'][data-v-093ffbbc] {
      margin: 0 0 0 auto;
      min-width: 115px;
      width: 45%;
      color: #fff;
}
.contact-form .error-message[data-v-093ffbbc] {
    height: 35px;
    margin: 0;
}
.contact-form .error-message p[data-v-093ffbbc] {
      background: #e94b35;
      color: #ffffff;
      font-size: 1.4rem;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      border-radius: 0.25em;
      padding: 16px;
}
.contact-form .counter[data-v-093ffbbc] {
    background-color: #ecf0f1;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 10px;
    padding: 1px 3px;
    color: #666;
    border-radius: 5px;
}
.contact-form .textarea-wrap[data-v-093ffbbc] {
    position: relative;
}
.contact-form .rate-us[data-v-093ffbbc] {
    height: 30px;
    padding: 5px 15px;
    width: 45%;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    background-color: #4085f3;
}
.contact-form .rate-us span[data-v-093ffbbc] {
      margin: 4px 10px 0 0;
      vertical-align: middle;
      display: inline-block;
}
.contact-form .rate-us img[data-v-093ffbbc] {
      vertical-align: middle;
      width: 49%;
      height: 17px;
}
.contact-form .rate-us:hover span[data-v-093ffbbc] {
      text-decoration: underline;
}

@font-face {
  font-family: 'Hind Regular';
  src: url("/fonts/Hind-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Hind Bold';
  src: url("/fonts/Hind-Bold.ttf") format("truetype");
}
[data-v-126fbd00]::-webkit-scrollbar {
  width: 1px;
}
[data-v-126fbd00]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
html[data-v-126fbd00]::-webkit-scrollbar {
  width: 1px;
}
html[data-v-126fbd00]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.popup-holder[data-v-126fbd00] {
  font-size: 20px;
  line-height: normal;
  background: #fff;
  border-radius: 10px;
  padding: 15px 12px;
}
.popup-holder[data-v-126fbd00]::-webkit-scrollbar {
    width: 1px;
}
.popup-holder[data-v-126fbd00]::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.popup-holder .logo[data-v-126fbd00] {
    display: flex;
    justify-content: center;
    padding-bottom: 18px;
}
.popup-holder a[data-v-126fbd00] {
    text-decoration: none;
    color: #444;
    outline: 0;
}
.popup-holder a[data-v-126fbd00]:hover {
      text-decoration: underline;
}
.popup-holder .expander[data-v-126fbd00]:last-child {
    margin-bottom: -20px;
}
.ttl[data-v-126fbd00] {
  line-height: normal;
  display: block;
  padding-bottom: 14px;
  font: 16px/1 'Hind Regular', sans-serif;
  text-align: center;
}
.btns[data-v-126fbd00] {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}
.btns li a[data-v-126fbd00] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 2px rgba(219, 220, 225, 0.35);
}
.btns li a[data-v-126fbd00]:hover {
      background: #e6f1fe;
      text-decoration: none;
}
.btns li a.doc[data-v-126fbd00]:hover {
      background: #e6f1fe;
}
.btns li a.sheet[data-v-126fbd00]:hover {
      background: #bee8c7;
}
.btns li a.presentation[data-v-126fbd00]:hover {
      background: #f2b9cd;
}
.btns li a.all-docs[data-v-126fbd00]:hover {
      background: #faf0c8;
}
.btns li a span.label[data-v-126fbd00] {
      line-height: 1;
      font-size: 14px;
}
.btns li img[data-v-126fbd00] {
    vertical-align: middle;
}
.extra-nav[data-v-126fbd00] {
  display: flex;
  padding: 10px;
}
.extra-nav .pin[data-v-126fbd00] {
    margin-left: auto;
}
.extra-nav .pin.disabled[data-v-126fbd00] {
      cursor: default;
      pointer-events: none;
      color: #666;
}
.layout[data-v-126fbd00] {
  margin-bottom: 20px;
}
.layout h2[data-v-126fbd00] {
    margin: 0;
}
.layout .layouts-list[data-v-126fbd00] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.layout .layouts-list div[data-v-126fbd00] {
      width: 80px;
      height: 80px;
      padding: 13px 13px;
      box-sizing: border-box;
      box-shadow: 0px 0px 20px 2px rgba(219, 220, 225, 0.35);
}

